@media (max-width:400px){
    .botao-mes{
        align-items: start!important;
        flex-direction: column!important;
    }
    .botaoconfig{
        margin: 0 !important;
        margin-top: 1rem!important;
        border-radius: 10px;
        padding: 9px;      
    }
    .botaoconfig b{
        font-size: 15px!important;
    }
    .imagem-pagbank-sebrae .img-fluid{
        max-width: 100%!important;
    }
    .cardconfig{
        height: auto;
        width: 85% !important;
    }   
}/*end media 400px*/
@media (max-width:576px){
    .row-top{
        padding-left: 20px;
    }
    .title-top-violet h2{
        font-size: 2rem!important;
    }
    .textpraragraph{
        font-size: 1.05rem!important;
    }
    .botao-mes{
        justify-content: start;
        align-items: center;
    }
    .botaoconfig{
        margin-left: 0.5rem!important;
        padding: 0;
    }
    .botaoconfig b{
        font-size: 15px!important;
    }
}
body section .row-top{
    background-image: url(../img/wesley-propaganda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left center; 
}
p{
    margin: 0;
    padding: 0;
}
/*IMAGENS*/
#Feira-Empreendedor{
    width: 30vw;
}

/*CORES ABAIXO*/
.titleFeira{
    color: #6d7ab1;
    text-transform: uppercase;
}
.amarelo-increva-se{
   background-color: #ffe72f;
   color: black;
}
.color-card{
    background-color: #ffe632;
}
.bordercarousel{
    color: #a8d39e;
}
.carouselTitle{
    color: #7074a4;
}
.color-angle{
    color:#808179;
}
/*CORES PARA O SITE ACIMA*/
.row-top{
    padding-left: 30px;
}
.title-top-violet h2{
    font-size: 3rem;
}
.paragraph-text-title{
    padding: 0;
}
.textpraragraph{
    font-size: 1.5rem;
}
.color-link-sebrae{
    color: black;
}
.nostyle:hover{
 text-decoration: none;
}
.botao-mes{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row;
}
.botaoconfig{
    text-transform: uppercase;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 15px;
}
.botaoconfig b{
    font-size: 16px;
}

.imagem-pagbank-sebrae{
    display: flex;
    align-items: center;
}
.imagem-pagbank-sebrae .img-fluid{
    max-width:80%;
}
/*CARD ABAIXO*/
.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardconfig{
    margin: auto;
}
.card-body{
    padding: 1rem!important;
}