body{
    margin:0;
    padding:0;
}
.dfc6{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#WesleySafadao{
    width: 100%;
}
#empreendedor{
   width: 70%;
   margin-left: 60px;
}
.purple{
    color: #7074b4;
}
.text-explanation{
    font-size: 20px;
    margin-top: 40px;
}
.sebrae{
    text-decoration: none;
    color: #0c2834;
}
.sebrae:hover{
    color: #0c2834;
}
.btn-yellow{
    background-color: #ffe72d;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-top: 35px;
}
#Sebrae{
    width: 100px;
    height: 82px;
    position: relative;
    margin-left: 80px;
    bottom: 35px;
}
.maquina{
    position: relative;
    left: 85px;
}
.i{
    border-radius: 50px;
    color: black;
    font-size: 35px;
    border-color: black;
    background-color: yellow;
}
.card-img-top{
    width: 50%;
    height: 50%;
}
.cardalign{
    display: flex;
    flex-direction: row;
    border: 3px solid #a5d1ad;
}
.preço{
    background-color: yellow;
    height: 50px;
}
.preçoposition{
    margin: 0;
    position: relative;
    top: 11px;
}
.comprarmaquina{
    position: relative;
    left: -100px;
    top: 45px;
    border: 3px solid #a5d1ad;
}
.angleprev{
    color: #7d7d73;
    position: relative;
    top: 210px;
    right: 15px;
    font-size: 20px;
    background-color: #fde32e;
    padding: 10px;
    border-radius: 100%;
    z-index: 4;
}
.angleprev:hover{
    color: #7d7d73;
}
.anglenext{
    float: right;
    color: #7d7d73;
    position: relative;
    top: 210px;
    left: 15px;
    font-size: 20px;
    background-color: #fde32e;
    padding: 10px;
    border-radius: 100%;
    z-index: 4;
}
.anglenext:hover{
    color:#7d7d73;
}
.carousel-indicators li{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: relative;
    background-color: black;
}
.uppercase{
    text-transform: uppercase;
}