@media (max-width:400px){
    .botao-mes{
        align-items: start!important;
        flex-direction: column!important;
    }
    .botaoconfig{
        margin: 0 !important;
        margin-top: 1rem!important;
        border-radius: 10px;
        padding: 9px;      
    }
    .botaoconfig b{
        font-size: 15px!important;
    }
    .imagem-pagbank-sebrae .img-fluid{
        max-width: 100%!important;
    }
    .cardconfig{
        height: auto;
        width: 85% !important;
    }   
}/*end media 400px*/
@media (max-width:576px){
    .row-top{
        padding-left: 20px;
    }
    .title-top-violet h2{
        font-size: 2rem!important;
    }
    .textpraragraph{
        font-size: 1.05rem!important;
    }
    .botao-mes{
        justify-content: start;
        align-items: center;
    }
    .botaoconfig{
        margin-left: 0.5rem!important;
        padding: 0;
    }
    .botaoconfig b{
        font-size: 15px!important;
    }
}
/*media carousel abaixo*/
@media (max-width:550px){
    .border-carousel{
        width: 100%!important;
    }
    .comando-carousel {
        margin-top: 25px;
    }
    .cp{
        display: none;
    }
    .cn{
        display: none;
    }
}
@media (min-width:551px){
    .comando-carousel{
        margin-left: 30px !important;
    }
}
@media (min-width:551px) and (max-width:850px){
    .card-container{
        display: flex!important;
        flex-direction: column!important;
    }
    .configimgc{
        position: relative!important;
        left: 60px!important;
        width: 60%;
    }
}
/*media carousel acima*/

body section .row-top{
    background-image: url(../img/wesley-propaganda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left center; 
}
p{
    margin: 0;
    padding: 0;
}
/*IMAGENS*/
#Feira-Empreendedor{
    width: 30vw;
}

/*CORES ABAIXO*/
.titleFeira{
    color: #6d7ab1;
    text-transform: uppercase;
}
.amarelo-increva-se{
   background-color: #ffe72f;
   color: black;
}
.color-card{
    background-color: #ffe632;
}
.bordercarousel{
    color: #acd4d4;
}
.carouselTitle{
    color: #7074a4;
    text-transform: uppercase;
}
.color-angle{
    color:#808179;
}
/*CORES PARA O SITE ACIMA*/
.row-top{
    padding-left: 30px;
}
.title-top-violet h2{
    font-size: 3rem;
}
.paragraph-text-title{
    padding: 0;
}
.textpraragraph{
    font-size: 1.5rem;
}
.color-link-sebrae{
    color: black;
}
.nostyle:hover{
 text-decoration: none;
}
.botao-mes{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row;
}
.botaoconfig{
    text-transform: uppercase;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 15px;
}
.botaoconfig b{
    font-size: 16px;
}

.imagem-pagbank-sebrae{
    display: flex;
    align-items: center;
}
.imagem-pagbank-sebrae .img-fluid{
    max-width:80%;
}
/*CARD ABAIXO*/
.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardconfig{
    margin: auto;
}
.card-body{
    padding: 1rem!important;
}
/*CARD ACIMA*/
/*CAROUSEL ABAIXO*/
.comando-carousel{
    margin-top: 25px;
    padding-left: 10px; 
    padding-right: 10px;
}
.border-carousel{
    float: left;
    border: 2px solid#acd4d4;
    width: 45%;
}
.card-container{
    display: flex;
    flex-direction: row;
}
.configimgc{
    width: 40%;
}
.button-a{
    width: 40%;
    position: relative;
    top: 20px;
    left: 35%;
    border:3px solid #acd4d4;
    background-color: #ffe632;
    color: black;
}
.button-a:hover{
    color: black;
    border-color:#ffe632;
    background-color: #ffe632;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #808179;
  }
  .cp{
    float: left;
    font-size: 25px;
    color: #808179;
    z-index: 2;
    position: relative;
    top: 220px;
    left: 20px;
  }
  .cp:hover{
    color: #808179;
  }
  .cn{
    float: right;
    font-size: 25px;
    color: #808179;
    z-index: 2;
    position: relative;
    top: 220px;
    right: 20px; 
  }
  .cn:hover{
      color:#808179;
  }
#indicadores{
    bottom: -25px;
  }
  /*FOOTER*/
.editfooter{
    text-align: center;
    padding: 15px;
}
.editfooter strong{
    font-size: 1rem;
}